@import "constants.scss";

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  user-select: none;
  background: var(--gray7);
}

.area {
  width: 50%;
  box-sizing: border-box;

  button {
    background-color: transparent;
    color: inherit;
    width: 100%;
    padding: 1em 0.5em;
    border-radius: 4px;
    font-weight: inherit;
    text-align: center;
    outline: none;
    color: var(--gray1);

    &.selected {
      color: var(--accent_color);
    }

    &:hover,
    &:focus {
      background: var(--gray5);
    }
  }
}

.areaIcon {
  margin-right: 0.5ch;
  vertical-align: -1px;
}
