@import "constants.scss";

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (max-width: $break_small) {
    justify-content: space-around;
  }
}

.area {
  border-radius: 0.5rem;
  color: var(--gray1);

  &.selected,
  &:hover {
    background: var(--gray5);
  }

  .map {
    font-size: 4rem;
    height: 1em;
    width: 1em;
    border-radius: 25%;
    margin: 0 0 1rem;

    @media (min-width: $break_large) {
      height: 5rem;
      width: 5rem;
    }

    img {
      height: 20rem;
    }
  }

  .icon {
    font-size: 4em;
    height: 5rem;
    width: 5rem;
    margin-bottom: 1rem;
    display: inline-block;
  }

  button {
    background-color: transparent;
    color: inherit;
    width: 8em;
    padding: 1em 0;
    font-weight: normal;
    text-align: center;
  }
}
