@import 'constants.scss';

.days {
  flex: 1;
  white-space: nowrap;
  overflow: auto;

  &::-webkit-scrollbar {
    display: none;
  }

  a {
    border: none;
    background: transparent;
    display: inline-block;
    text-transform: uppercase;
    font-size: 0.75rem;
    border-radius: 0.25em;
    color: $dark_gray;
    padding: 1.25em 2em 1.25em 0;
    transition: color 0.2s;

    &:first-child {
      margin-left: 0;
    }

    &:focus {
      outline: none;
      color: black;
    }

    &:hover {
      color: black;
    }

    &.selected {
      color: black;
      font-weight: 600;
    }

    @media (min-width: $break_large) {
      font-size: 0.8rem;
    }

    @media (max-width: $break-small) {
      margin: 0;
    }
  }
}