@import "colors";

.release {
  margin-bottom: 1em;
  display: flex;
  align-items: center;

  &:last-child {
    margin: 0;
  }
}

.meta {
  flex: 1;
  margin-left: 1ch;
}

.body {
  margin: 0;
}

.publishedAt {
  font-size: 0.7em;
  text-transform: uppercase;
  font-weight: 500;
  margin: 0 0 0;
  color: $text_color_light;
}