.update {
  margin-bottom: 0.5em;
  display: flex;
  color: var(--gray2);
  padding: 0.5em;
  border-radius: 0.2em;
  cursor: pointer;

  &:hover {
    background: var(--gray5);
  }

  &:last-child {
    margin: 0;
  }
}

.visible {
  .body {
    display: block;
  }

  .icon {
    transform: rotateX(180deg);
  }
}

.meta {
  flex: 1;
  margin-left: 1ch;
}

.icon {
  margin-top: 0.4em;
  transition: transform 0.3s;
}

.title {
  margin: 0 0 0.1em 0;
}

.body {
  margin: 0;
  line-height: 1.25em;
  display: none;
}

.publishedAt {
  font-size: 0.7em;
  text-transform: uppercase;
  font-weight: 500;
  margin: 0 0 0;
  color: var(--gray2) !important;
}
