@import "constants.scss";

.container {
  background: linear-gradient(to bottom, $gray8 0%, $gray7 100%);
  box-sizing: border-box;
  padding: 0 0.5em;
  position: fixed;
  width: 100%;
  z-index: 10;
  color: $gray3;
  border-bottom: 1px solid $gray6;
  user-select: none;

  @media (max-width: $break-small) {
    background-color: $gray7;
    justify-content: flex-start;
    padding: 0.2em;
    padding-left: 1rem;
  }
}

.centered {
  max-width: 95em;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

a.icon {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  margin: 0 1em;

  &:link,
  &:visited {
    color: $gray4;
  }

  &:hover,
  &:focus {
    outline: none;
    color: $accent_color;
  }

  svg {
    display: none;
  }

  @media (max-width: $break-small) {
    svg {
      display: block;
    }
    span {
      display: none;
    }
  }
}

.dropdown {
  width: 14em;
  vertical-align: middle;
}
