@import "constants.scss";

.container {
  background: linear-gradient(to bottom, var(--gray7) 0%, var(--gray6) 100%);
  box-sizing: border-box;
  padding: 0 0.5em;
  position: fixed;
  width: 100%;
  z-index: 10;
  color: var(--gray3);
  border-bottom: 1px solid var(--gray5);
  user-select: none;

  @media (max-width: $break-small) {
    background-color: var(--gray6);
    justify-content: flex-start;
    padding: 0.2em;
    padding-left: 1rem;
  }
}

:global(.dark) .container {
  background: linear-gradient(to bottom, var(--gray6) 0%, var(--gray7) 100%);
}

.centered {
  max-width: 94.2rem;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.newsIcon {
  color: var(--accent_color);
}

a.icon {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  margin: 0 1em;

  &:link,
  &:visited {
    color: var(--gray3);
  }

  &:hover,
  &:focus {
    outline: none;
    color: var(--accent_color);
  }

  svg {
    display: none;
  }

  @media (max-width: $break-small) {
    svg {
      display: block;
    }
    span {
      display: none;
    }
  }
}

.dropdown {
  width: 14em;
  vertical-align: middle;
}

.areaSelectorContainer {
  position: relative;
}

.areaSelector {
  position: absolute;
  right: 0;
  top: 32px;
  width: 20em;
  background: var(--gray7);
  padding: 1em;
  box-shadow: 0px 7px 18px -1px rgba(50, 50, 50, 0.1);
  border-radius: 4px;
  border: solid 1px var(--gray5);
  opacity: 0;
  transition: opacity 75ms;
  pointer-events: none;
}

.areaSelectorOpen {
  opacity: 1;
  pointer-events: all;
}

@media (max-width: $break-small) {
  .areaSelectorContainer {
    position: initial;
  }

  .areaSelector {
    top: 52px;
    left: 0;
    width: 100%;
    box-sizing: border-box;
  }
}
