@import "constants.scss";

.container {
  display: flex;
  flex-direction: column;
  padding: 0.8rem;
  background-color: var(--gray7);
  border-radius: 4px;
  border: solid 1px var(--gray5);
  box-shadow: 0px 1px 2px 0px rgba(50, 50, 50, 0.1);
  box-sizing: border-box;
  width: calc(25% - 0.5rem);
  margin: 0.25rem;

  @media (max-width: 1111px) {
    width: calc(33.3% - 0.5rem);
  }

  @media (max-width: $break-small) {
    width: initial;
    box-shadow: none;
    margin: 0.25rem 0;
    border-left: none;
    border-right: none;
    border-color: var(--gray5);
    border-radius: 0;
  }
}

@keyframes progress {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: calc(200px + 100%) 0;
  }
}

.placeholder {
  opacity: 0.5;

  .header,
  .course {
    animation: progress 1.2s ease-in-out infinite;
    background-color: var(--gray6);
    background-image: linear-gradient(
      90deg,
      var(--gray6),
      var(--gray6),
      var(--gray6)
    );
    background-size: 200px 100%;
    background-repeat: no-repeat;
    border-radius: 4px;
    display: inline-block;
    line-height: 1;
    width: 100%;
  }

  .header {
    border-radius: 0.1rem;
    height: 1.5rem;
  }

  .course {
    border-radius: 0.1rem;
    margin: 0.1rem 0;
    height: 0.7rem;
    transition: width 0.2s;
  }
}

.header {
  display: flex;
  margin-bottom: 1.4rem;
  justify-content: space-between;
  align-items: center;

  h2 {
    color: var(--gray1);
    font-weight: 500;
    margin: 0;
    max-width: 60%;
    font-size: 1.2rem;
  }

  .meta {
    color: var(--gray3);
    font-size: 0.8rem;
    font-weight: 600;
  }

  .location {
    font-weight: 400;
  }

  @media (max-width: $break-small) {
    h2 {
      font-size: 1.1rem;
    }

    .meta {
      font-size: 0.7rem;
    }
  }
}

.body {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 5rem;
  font-size: 0.9em;
  color: var(--gray1);
  margin-bottom: 0.5rem;
}

.empty {
  opacity: 0.6;

  .header h2 {
    color: var(--gray3);
  }

  .body {
    color: var(--gray3);
  }
}

.shut {
  .header h2 {
    color: var(--gray1);
  }
}

.closedText {
  font-size: 0.8rem;
}

.restaurantActions {
  color: var(--gray4);
  font-size: 0.75em;
  text-transform: uppercase;
  font-weight: 500;
  display: flex;

  .actionIcon {
    margin-right: 1ch;
    color: inherit;

    &:last-child {
      margin-right: 0;
    }
  }
}

.actionIcon {
  &:hover,
  &:focus {
    color: var(--accent_color);
  }
}
