$accent_color: #009688;
$accent_color_hover: #03a798;
$accent_color_light: #02a495;
$accent_color_dark: #018c7f;
$text_color: #222222;
$text_color_light: #636363;
$text_color_superlight: #a3a3a3;
$text_color_dark: #000000;

$gray: #bdbdbd;
$dark_gray: #a7a7a7;
$almost_black: #404040;
$light_gray: #f4f4f4;
$extra_light_gray: #f1f1f1;
$semi_light_gray: #e8e8e8;
$background: #fff;
$body_background: #f8f8f8;

$button_color: $accent_color;
$button_color_pressed: $accent_color_dark;
$button_color_hover: $accent_color_hover;

$container_background_color: $light_gray;
