$accent_color: #5ec879;
$accent_color_light: #67df85;
$accent_color_dark: #3d794c;
$text_color: #222222;
$text_color_light: #636363;
$text_color_superlight: #a3a3a3;
$text_color_dark: #000000;

$gray: #bdbdbd;
$dark_gray: #a7a7a7;
$light_gray: #f4f4f4;
$semi_light_gray: #e8e8e8;
$background: #fff;

$button_color_: $accent_color;
$button_color_pressed: $accent_color_dark;
$button_color_hover: $accent_color_light;

$container_background_color: $light_gray;
