@import '_constants';

.dayselector {
  display: flex;
  flex: 1;
  flex-direction: column;
  background: white;
  box-shadow: 0 0.1rem 0.2rem -0.1rem rgba(0, 0, 0, 0.4);

  @media (max-width: $break-small) {
    padding: 0;
    background-color: $body_background;
    border-bottom: 1px solid #ededed;

    .dayselector-header {
      font-size: 12pt;
    }
  }

  @media (min-width: $break-large) {
    padding: 0px 13px 0px 13px;

    .dayselector-header {
      font-size: 18pt;
    }
  }

  .dayselector-header {
    display: inline;
    font-weight: 300;
  }

  .dayselector-controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    button {
     @extend .default-button;
     min-width: 100px;

    }

  }

}
