@import '_constants';

.dayselector {
  display: flex;
  background: white;
  padding: 0.5rem;
  box-shadow: 0 0.1rem 0.2rem -0.1rem rgba(0, 0, 0, 0.4);
  justify-content: center;
  box-sizing: border-box;

  @media (max-width: $break-small) {
    background-color: $body_background;
    border-bottom: 1px solid #ededed;
    justify-content: flex-start;
    overflow-x: auto;

    &::-webkit-scrollbar {
      display: none;
    }

    .dayselector-header {
      font-size: 12pt;
    }
  }

  @media (min-width: $break-large) {

    .dayselector-header {
      font-size: 18pt;
    }
  }

  button {
    @extend .default-button;
    min-width: 7rem;

    &.selected {
      background: $accent_color;
      color: white;
      border-color: $accent_color;

      &:focus {
        color: white;
        background: $accent_color_light;
      }
    }
  }

}
