@font-face {
    font-family: 'Interface';
    font-style:  normal;
    font-weight: 400;
    src: url("/fonts/Interface-Regular.woff2?v=1.6") format("woff2"),
         url("/fonts/Interface-Regular.woff?v=1.6") format("woff");
  }
  @font-face {
    font-family: 'Interface';
    font-style:  italic;
    font-weight: 400;
    src: url("/fonts/Interface-RegularItalic.woff2?v=1.6") format("woff2"),
         url("/fonts/Interface-RegularItalic.woff?v=1.6") format("woff");
  }
  
  @font-face {
    font-family: 'Interface';
    font-style:  normal;
    font-weight: 500;
    src: url("/fonts/Interface-Medium.woff2?v=1.6") format("woff2"),
         url("/fonts/Interface-Medium.woff?v=1.6") format("woff");
  }
  @font-face {
    font-family: 'Interface';
    font-style:  italic;
    font-weight: 500;
    src: url("/fonts/Interface-MediumItalic.woff2?v=1.6") format("woff2"),
         url("/fonts/Interface-MediumItalic.woff?v=1.6") format("woff");
  }
  
  @font-face {
    font-family: 'Interface';
    font-style:  normal;
    font-weight: 700;
    src: url("/fonts/Interface-Bold.woff2?v=1.6") format("woff2"),
         url("/fonts/Interface-Bold.woff?v=1.6") format("woff");
  }
  @font-face {
    font-family: 'Interface';
    font-style:  italic;
    font-weight: 700;
    src: url("/fonts/Interface-BoldItalic.woff2?v=1.6") format("woff2"),
         url("/fonts/Interface-BoldItalic.woff?v=1.6") format("woff");
  }
  
  @font-face {
    font-family: 'Interface';
    font-style:  normal;
    font-weight: 900;
    src: url("/fonts/Interface-Black.woff2?v=1.6") format("woff2"),
         url("/fonts/Interface-Black.woff?v=1.6") format("woff");
  }
  @font-face {
    font-family: 'Interface';
    font-style:  italic;
    font-weight: 900;
    src: url("/fonts/Interface-BlackItalic.woff2?v=1.6") format("woff2"),
         url("/fonts/Interface-BlackItalic.woff?v=1.6") format("woff");
  }