.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
  opacity: 0;
  pointer-events: none;
  padding: 1rem;
  transition: opacity 0.1s;

  &-overlay {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  &-content {
    background: white;
    z-index: 6;
    position: relative;
    margin: 5rem auto;
    max-width: 40rem;
    border-radius: 0.2rem;
    overflow: hidden;
    box-shadow: 0rem 0.1rem 0.6rem -0.2rem rgba(0,0,0,0.3);
  }

  &.open {
    opacity: 1;
    pointer-events: auto;
  }
}

.restaurant-modal {
  height: 70vh;
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;

  &-map {
    flex: 1;
  }

  &-info {
    padding: 1em;
    box-sizing: border-box;
    color: white;
    background: $accent_color;
  }

  h1, h2 {
    font-weight: 300;
    margin: 0;
  }

  &-meta {
    margin-bottom: 1em;
  }

  &-meta a {
    text-transform: uppercase;
    display: block;
    margin-top: 0.2rem;
    opacity: 0.6;
  }

  &-opening-hours-container {
    display: table;
  }

  &-opening-hours {
    display: table-row;

    .day, .hours {
      display: table-cell;
    }

    .day {
      text-transform: uppercase;
      opacity: 0.6;
      text-align: right;
    }

    .hours {
      font-weight: 300;
      padding-left: 0.4em;
    }
  }
}
