.settings {

  &-item {
    margin-bottom: 2rem;
  }

  h2 {
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 500;
    color: $dark_gray;
  }

  .user {
    display: flex;
    align-items: center;

    img {
      width: 3rem;
      height: 3rem;
      border-radius: 1.5rem;
      margin-right: 0.5rem;
    }
  }
}
