@import "constants";

.modal {
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;
  padding: 0.4em;
  @media (min-width: $break_large) {
    padding: 2em;
  }

}

.title {
  font-size: 1.5em;
  margin-bottom: 2rem;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  // flex-shrink: 1;
  // flex-basis: 20em;

  @media (max-width: $break_small) {
    justify-content: space-around;
  }
}

.area {
  margin: .4em;
  display: flex;
  flex-direction: column;
  align-items: center;

  &.selected {
    .map {
      border: 1px solid lighten($accent_color_light, 10);
    }

    button {
      text-decoration: underline;
    }
  }

  .map {
    height: 4rem;
    width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 100rem;
    border: 1px solid $light_gray;

    @media (min-width: $break_large) {
      height: 5rem;
      width: 5rem;
    }

    img {
      height: 20rem;
    }
  }

  button {
    // border: 1px solid #dadada;
    align-self: flex-end;
    background-color: transparent;
    color: #666666;
    width: 8em;
  }


}
