$accent_green: #009688;
$accent_blue: #2196f3;
$accent_color: $accent_blue;
$accent_color_light: lighten($accent_color, 3%);
$accent_color_dark: darken($accent_color, 5%);

$gray1: #464646;
$gray2: #636363;
$gray3: #777;
$gray4: #a3a3a3;
$gray5: #bdbdbd;
$gray6: #ebebeb;
$gray7: #f8f8f8;
$gray8: #fefefe;

$hearty: #d81b60;
$friendly: #1bb518;
