@import "colors.scss";

$border_radius: 4px;
$small_border_radius: 0.2rem;

$margin: 4px 3px 4px 3px;
$subtle_border: 1px $gray7 solid;

$break-small: 767px;
$break-large: 768px;

@mixin rounded-button-container() {
  display: flex;
  flex-wrap: wrap;
  overflow: auto;

  &:after {
    content: "";
    flex-grow: 1000000000;
  }
}

@mixin rounded-button($color) {
  align-items: center;
  justify-content: center;
  margin: 0.2em;
  color: $color;
  text-align: left;
  display: flex;
  flex-grow: 1;
  background: transparent;
  border: 1px solid $color;
  border-radius: 1rem;
  text-transform: none;
  transition: background 0.1s, color 0.1s;
  padding: 0.4rem;

  :global(.inline-icon) {
    flex-shrink: 0;
  }

  &:focus {
    background: lighten($color, 50%);
  }

  &.selected {
    background: $color;
    color: $gray7;
  }
}
