@import '_constants';

.container {
  font-size: 1.15rem;

  label {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1rem;
    margin-bottom: 0.5rem;
    display: block;
    color: $dark_gray;
  }

  input, textarea {
    font-size: inherit;
    font-family: inherit;
    border: solid 0.15rem $gray;
    padding: 1rem;
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 1rem;

    &:focus {
      outline: none;
      border-color: $accent_color;
    }
  }

  button {
    border: none;
    padding: 1rem 1.5rem;
    margin: 0;
    font-family: inherit;
    background: $accent_color;
    text-transform: uppercase;
    font-size: inherit;
    color: white;

    &:focus {
      outline: none;
      background: $accent_color_light;
    }

    &:disabled {
      background: $gray;
    }
  }
}
