@import 'constants';

.container {
  background: white;
  box-shadow: 0 0.1rem 0.2rem -0.1rem rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 0 1em;

  @media (max-width: $break-small) {
    background-color: $body_background;
    border-bottom: 1px solid #ededed;
    justify-content: flex-start;
    padding: 0.25em 0.5em;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.days {
  flex: 1;

  button {
    border: none;
    background: transparent;
    font-size: 0.8rem;
    display: inline-block;
    border-bottom: solid 0px $accent_color;
    text-transform: uppercase;
    padding: 1em 1em 0.75em;
    margin: 0 0.25em;
    color: $gray;

    &:focus {
      outline: none;
      color: $accent_color_light;
    }

    &.selected {
      color: $accent_color;
      border-bottom-width: 0.25em;
    }
  }
}

.icon {
  color: $gray;

  &:hover, &:focus {
    outline: none;
    color: $accent_color;
  }

  img {
    width: 24px;
    height: 24px;
    border-radius: 12px;
  }

  &.expanded {
    color: $accent_color;
  }
}

.dropdown {
  width: 14em;
  vertical-align: middle;

  :global {
    .Select-control {
      background: transparent;
      border: none;
      text-transform: uppercase;
    }
  }
}
