@import 'constants';

.container {
  background: white;
  box-shadow: 0 0.1rem 0.2rem -0.1rem rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 0 1em;
  position: fixed;
  width: 100%;
  z-index: 10;
  color: $gray;


  @media (max-width: $break-small) {
    background-color: $body_background;
    border-bottom: 1px solid #ededed;
    justify-content: flex-start;
    padding: 0 0.5em;
  }
}

.days {
  flex: 1;
  white-space: nowrap;
  overflow: auto;
  margin: 0 0.5em;

  &::-webkit-scrollbar {
    display: none;
  }

  button {
    border: none;
    background: transparent;
    display: inline-block;
    border-bottom: solid 0px $accent_color;
    text-transform: uppercase;
    font-size: 0.75rem;
    padding: 1em 0.6em 0.75em;
    margin: 0 0.25em;
    color: $gray;

    &:focus {
      outline: none;
      color: $accent_color_light;
    }

    &.selected {
      color: $accent_color;
      border-bottom-width: 0.25em;
    }

    @media (min-width: $break_large) {
      font-size: 0.8rem;
      padding: 1em 1em 0.75em;
    }

    @media (max-width: $break-small) {
      margin: 0;
    }
  }
}

a.icon {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.8rem;
  display: flex;
  align-items: center;

  &:hover, &:focus {
    outline: none;
    color: $accent_color;
  }

  img {
    width: 24px;
    height: 24px;
    border-radius: 12px;
  }

  span {
    margin: 0 0.5rem;
  }

  @media (max-width: $break-small) {
    span {
      display: none;
    }
  }
}

.dropdown {
  width: 14em;
  vertical-align: middle;
}
