@import 'constants';

.container {
  background: linear-gradient(to bottom, #ffffff 0%, #f9f9f9 100%);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 0 1em;
  position: fixed;
  width: 100%;
  z-index: 10;
  color: $gray;
  border-bottom: 1px solid #ededed;


  @media (max-width: $break-small) {
    background-color: $body_background;
    justify-content: flex-start;
    padding: 0 0.5em;
  }
}

.days {
  flex: 1;
  white-space: nowrap;
  overflow: auto;
  margin: 0 0.5em;

  &::-webkit-scrollbar {
    display: none;
  }

  button {
    border: none;
    background: transparent;
    display: inline-block;
    text-transform: uppercase;
    font-size: 0.75rem;
    border-radius: 0.5em;
    margin: 0.5em 0.25em;
    color: $gray;
    padding: 0.75em 1em;
    transition: background 0.2s;

    &:focus {
      outline: none;
      color: black;
      background: $light_gray;
    }

    &:hover {
      background: $light_gray;
    }

    &.selected {
      color: black;
      border-bottom-width: 0.25em;
      background: $light_gray;
    }

    @media (min-width: $break_large) {
      font-size: 0.8rem;
    }

    @media (max-width: $break-small) {
      margin: 0;
    }
  }
}

a.icon {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.8rem;
  display: flex;
  align-items: center;

  &:hover, &:focus {
    outline: none;
    color: $accent_color;
  }

  img {
    width: 24px;
    height: 24px;
    border-radius: 12px;
  }

  span {
    margin: 0 0.5rem;
  }

  @media (max-width: $break-small) {
    span {
      display: none;
    }
  }
}

.dropdown {
  width: 14em;
  vertical-align: middle;
}
