@import "constants";

.container {
  display: flex;
  flex-wrap: wrap;
  overflow: auto;

  button {
    align-items: center;
    justify-content: center;
    margin: 0.2em;
    color: $hearty;
    text-align: left;
    display: flex;
    flex-grow: 1;
    background: transparent;
    border: 1px solid $hearty;
    border-radius: 1rem;
    text-transform: lowercase;
    transition: background 0.1s, color 0.1s;
    padding: 0.4rem;

    :global(.inline-icon) {
      flex-shrink: 0;
    }

    &:focus {
      background: initial;
    }

    &.selected {
      background: $hearty;
      color: white;
    }
  }
}
