@import "constants";

.container {
  display: flex;
  flex-wrap: wrap;
  overflow: auto;

  button {
    align-items: center;
    justify-content: center;
    margin: 0.2em;
    background: $light_gray;
    color: $dark_gray;
    text-align: left;
    display: flex;
    flex-grow: 1;

    :global(.inline-icon) {
      flex-shrink: 0;
    }

    &:focus {
      color: $accent_color;
      background: $light_gray;
    }

    &.selected {
      color: $red;
    }
  }
}
