@import 'constants';

.container {
  text-align: center;
  color: $gray;
  font-size: 0.8rem;
  letter-spacing: 0.05rem;
  padding: 1rem;

  nav {
    a {
      color: $dark_gray;
      text-transform: uppercase;
      margin: 0 0.5rem;
      text-decoration: none;
      vertical-align: middle;
      border-bottom: solid 1px transparent;
      padding-bottom: 0.25rem;

      &.current {
        border-color: fade_out($accent_color, 0.5);
        color: $accent_color;
      }

      &:hover {
        color: $accent_color;
      }

      @media (max-width: $break-small) {
        border-bottom: none;
        display: block;
        margin: 0.5rem;
      }
    }
  }
}

.logo {
  display: flex;
  align-items: center;
  text-align: left;

  h1 {
    margin: 0;

    sup {
      font-size: 0.5em;
    }
  }

  img {
    height: 3rem;
    margin-right: 1rem;

    @media (max-width: $break-small) {
      display: none;
    }
  }
}

.bottomRow {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}