@import '_colors';
@import '_restaurants';
@import '_dayselector';
@import '_constants';
@import '_pagecontainer';
@import '_contact';
@import '_modal';
@import '_radio';
@import '_settings';

body {
  // font-family: sans-serif;
  font-family: -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  background-color: $body_background;
  overflow-y: scroll;
}

a:link, a:visited, a:active, a:hover {
  color: inherit;
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}

.header {
  padding: 1rem;
  background: $accent_color_light;
  color: white;
  display: flex;
  align-items: center;

  @media (max-width: $break-small) {
    display: none;
  }

  .logo {
    flex: 1;
    display: flex;
    align-items: center;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.30);

    h1 {
      font-size: 1.5rem;
      margin: 0;
      font-weight: normal;

      sup {
        font-size: 0.8rem;
        opacity: 0.7;
      }
    }

    p {
      margin: 0;
      opacity: 0.7;
      font-weight: 300;
    }

    img {
      height: 2.5rem;
      width: auto;
      margin-right: 1rem;
    }
  }
}

.app-links {
  a {
    display: inline-block;
    height: 2.5rem;
    margin-left: 1rem;
  }

  img {
    height: 100%;
    width: auto;
  }
}

.footer {
  text-align: center;
  color: $gray;
  margin: 5rem 0;
  font-size: 0.8rem;
  letter-spacing: 0.05rem;

  @media (max-width: $break-small) {
    margin: 1rem 0;
  }

  a {
    color: $dark_gray;
    text-transform: uppercase;
    margin: 0 0.5rem;
    text-decoration: none;
    vertical-align: middle;
    border-bottom: solid 1px transparent;
    padding-bottom: 0.25rem;

    &.current {
      border-color: fade_out($accent_color, 0.5);
      color: $accent_color;
    }

    &:hover {
      color: $accent_color;
    }

    @media (max-width: $break-small) {
      display: block;
      margin: 0.3rem 0;
      border-bottom: none;
    }
  }
}

.language-selector {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.inline-icon {
  vertical-align: -0.1rem !important;
  margin-right: 0.1rem;
}

.beta {
  text-align: center;

  button {
    font-size: 1.25rem;
    background: $accent_color;
    color: white;
    font-weight: 300;
    border-radius: $small_border_radius;
    border: none;
    padding: 0.5em 1em;
    margin: 1em;
  }
}
