@import "constants";

.header {
  display: flex;
  align-items: center;
}

.copyButton {
  cursor: pointer;

  textarea {
    opacity: 0;
    position: absolute;
    pointer-events: none;
    width: 1px;
    height: 1px;
  }
}

.courseList {
  transition: opacity 0.2s;
  overflow: auto;
  max-height: 25vh;

  @media (max-width: $break_small) {
    max-height: 100%;
  }
}

.coursesLoading {
  opacity: 0.5;
}