@import '_constants';

.container {
  background: white;
  padding: 1rem;
  border: $subtle_border;

  h1:first-child {
    margin-top: 0;
    font-weight: normal;
    border-bottom: solid 1px $light_gray;
    padding-bottom: 0.5rem;
  }

  @media (max-width: $break-small) {
    margin: 0.5rem;
  }
}
