@import '_constants';

.container {
  white-space: nowrap;
  overflow-x: auto;
  padding: 0 0.25rem;

  &::-webkit-scrollbar {
    display: none;
  }

  button {
    border: solid $accent_color;
    color: $accent_color;
    border-width: 1px 0 1px 1px;
    background: transparent;
    font-family: inherit;
    font-weight: 500;
    text-transform: uppercase;
    transition: background 0.1s, color 0.1s;
    margin: 0;

    @media (max-width: $break-small) {
      font-size: 0.7rem;
      padding: 0.5rem 0.4rem;
    }

    @media (min-width: $break-large) {
      font-size: 0.8rem;
      padding: 0.5rem 1rem;
    }

    &.selected {
      background: $accent_color;
      color: white;
    }

    &:focus {
      background: lighten($accent_color, 5%);
      color: white;
      outline: none;
    }

    &:first-child {
      border-radius: $small_border_radius 0 0 $small_border_radius;
    }

    &:last-child {
      border-radius: 0 $small_border_radius $small_border_radius 0;
      border-right-width: 1px;
    }
  }
}
