@import 'constants';

.container {
  display: flex;
  justify-content: center;
  padding: 4rem 0 1.5rem;

  @media (max-width: $break-small) {
    max-width: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    padding-top: 2.5rem;
  }

  @media (min-width: $break-large) {
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 95em;
    margin: 0 auto;
  }
}

$arrow-size: 150px;

.arrow {
  position: absolute;
  top: calc(50% - #{$arrow-size / 2});
  background: rgba(0, 0, 0, 0.53);
  height: $arrow-size;
  width: $arrow-size / 2;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  color: white;

  &.right {
    right: 0;
    border-radius: $arrow-size / 2 0 0 $arrow-size / 2;
  }

  &.left {
    border-radius: 0 $arrow-size / 2 $arrow-size / 2 0;
    left: 0;
  }
}

.emptyText {
  font-weight: 500;
  text-transform: uppercase;
  color: $text_color_superlight;
  margin: 2em 0 0;
  text-align: center;
}
