@import 'constants';

.container {
  display: flex;
  justify-content: center;
  padding: 3rem 0 1.5rem;

  @media (max-width: $break-small) {
    max-width: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  @media (min-width: $break-large) {
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 95em;
    margin: 0 auto;
  }
}

.emptyText {
  font-weight: 500;
  text-transform: uppercase;
  color: $text_color_superlight;
  margin: 2em 0 0;
  text-align: center;
}
