@import 'constants';

.container {
  height: 70vh;
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  background-color: white;

  h1, h2 {
    color: $accent_color_dark;
    font-weight: 300;
    margin: 0;
  }
}

.map {
  border-top: 1px solid $light_gray;
  border-bottom: 1px solid $light_gray;
  flex: 2;
}

.menus {
  padding: 1em;
  flex: 2;
}

.info {
  padding: 2em 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: $text_color_light;
  font-weight: 400;


}

.meta {
  max-width: 20em;
  // margin-bottom: 1em;
}

.meta a {
  text-transform: uppercase;
  display: block;
  margin-top: 0.2rem;
  opacity: 0.6;
  white-space: nowrap;

  &:hover {
    opacity: 0.8;
  }
}

.openingHoursContainer {
  display: table;
}

.openingHours {
  display: table-row;

  .day, .hours {
    display: table-cell;
  }

  .day {
    text-transform: uppercase;
    opacity: 0.6;
    text-align: right;
  }

  .hours {
    font-weight: 300;
    padding-left: 0.4em;
  }
}
