@import 'constants'; 

.mapContainer {
  flex: 1;
}

.map {
  border-top: 1px solid $light_gray;
  border-bottom: 1px solid $light_gray;
  min-height: 20rem;
  height: 100%;
  margin-top: 1rem;
}

.info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: $text_color_light;
  font-size: 0.9rem;
  margin-top: -1rem;
}

.meta a {
  text-transform: uppercase;
  display: block;
  margin-top: 0.2rem;
  opacity: 0.6;

  &:hover {
    opacity: 0.8;
  }
}

.openingHoursContainer {
  display: table;
}

.openingHours {
  display: table-row;

  .day, .hours {
    display: table-cell;
  }

  .day {
    text-transform: uppercase;
    opacity: 0.6;
    text-align: right;
  }

  .hours {
    padding-left: 0.4em;
  }
}
