@import 'constants';

.container {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  background-color: white;
  height: 100%;

  @media (max-width: $break_small) {
    h1 {
      font-size: 1.8em;
    }
  }

  h1, h2 {
    color: $accent_color_dark;
    font-weight: 300;
    margin: 0;
  }
}

.mapContainer {
  flex: 1;
}

.map {
  border-top: 1px solid $light_gray;
  border-bottom: 1px solid $light_gray;
  min-height: 20rem;
  height: 100%;
  margin-top: 1rem;
}

.info {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: $text_color_light;
  font-weight: 400;
  min-height: 6em;
}

.meta a {
  text-transform: uppercase;
  display: block;
  margin-top: 0.2rem;
  opacity: 0.6;

  &:hover {
    opacity: 0.8;
  }
}

.openingHoursContainer {
  display: table;
}

.openingHours {
  display: table-row;

  .day, .hours {
    display: table-cell;
  }

  .day {
    text-transform: uppercase;
    opacity: 0.6;
    text-align: right;
  }

  .hours {
    font-weight: 300;
    padding-left: 0.4em;
  }
}
