@import "constants.scss";

.enter {
  .content {
    opacity: 0;
  }

  .overlay {
    opacity: 0;
  }

  .closeText {
    opacity: 0;
  }
}

.enterActive,
.enterDone {
  pointer-events: auto;
  .content {
    opacity: 1;
  }

  .overlay {
    opacity: 1;
  }

  .closeText {
    opacity: 1;
  }
}
