@import "constants.scss";

.container {
  font-size: 1.15rem;
  margin-top: 1.5rem;

  label {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1rem;
    margin-bottom: 0.5rem;
    display: block;
    color: var(--gray3);
  }

  input,
  textarea {
    font-size: inherit;
    font-family: inherit;
    border: solid 0.15rem var(--gray4);
    padding: 1rem;
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 1rem;

    &:focus {
      outline: none;
      border-color: var(--accent_color);
    }
  }
}
