@import "constants.scss";

$bezier: cubic-bezier(0.645, 0.045, 0.355, 1);

.blob {
  cursor: pointer;
  position: absolute;
  background: var(--gray6);
  box-sizing: border-box;
  top: 50%;
  border-radius: 30px;
  margin: 0.1em;
  margin-top: -25%;
  width: 2em;
  height: 2em;
  transition: all 0.3s $bezier;
}

.toggle {
  position: relative;
  display: inline-block;
  border: 2px solid var(--gray3);
  background: var(--gray3);
  border-radius: 20px;
  padding: 10px 0;
  min-width: 4em;
  min-height: 1em;
  transition: all 0.3s $bezier;
  outline: none;
}

.toggleOn {
  &:after {
    @extend .blob;
    margin-left: 1.9em;
    content: "";
  }
  background: var(--accent_color);
  border-color: var(--accent_color);

  &:focus {
    filter: brightness(115%);
  }
}

.toggleOff {
  &:after {
    @extend .blob;
    content: "";
  }

  &:focus {
    background: var(--gray2);
  }
}
